* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}


ul {
	list-style: none;
}

li {
	width: 100%;
	border: 1px solid black;
}

#TallText {
	
	background-color: aqua;
}

 @media (min-width: 576px) {
    button {
        visibility: visible;
    }
}
@media (min-width: 768px) {
    button {
        visibility: hidden;
    }
}

@media (min-width: 992px) {
    button {
        visibility: hidden;
    }
}

@media (min-width: 1200px) {
    button {
        visibility: hidden;
    }

}